.column
  .title
    GitLab reduces costs and improves business outcomes
  .description
    Learn how IT leaders improved efficiency and reduced costs and their potential ROI by deploying GitLab
  = image_tag "/images/analysts/forrester-tei-thumbnail.png", class: "margin-top10"
  = link_to "Read more", "https://about.gitlab.com/resources/report-forrester-tei/", class: "read-more"
